@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,500&family=KoHo:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: #B8B8B8; */
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #B8B8B8 , #EACDC2);
  font-family: 'KoHo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 3px solid white; */

  /* background-color: #141414; */
  background-color: #8FBACC;
  box-shadow: 15px 25px 80px 40px #1F1F1F;
  border-radius: 50px;
  width: 75%;
  height: 90vh;

  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  /* border: 2px solid black; */

  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  width: 90%;
  /* height: 30px; */
  color: white;
  font-size: 18px;
  padding: 20px;
  margin-top: 10px;
}

.navLinks {
  text-decoration: none;
  color: #128FE2;
  font-size: 22px;
  font-weight: bold;
}

.navLinks:active {
  color: red;
  font-size: 20px;
}

.aboutPic {
  /* border: 2px solid green; */

  /* width: 750px; */
  height: 80%;
  margin: 125px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pic {
  width: 250px;
  height: 250px;

  opacity: 0.5;
  border-radius: 50%;
}

.intro {
  /* border: 1px solid white; */

  color: white;
  font-size: 36px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro #lastName {
  color: red;
  font-weight: bold;
}

.intro #jobTitle {
  font-weight: 300;
  font-size: 20px;
  background-color: silver;
  border-radius: 15px;
  color: black;
  padding: 6px;
  opacity: 0.5;
}

.info {
  /* border: 2px solid lavender; */
  
  color: white;
  height: 200px;
  /* background-color: #292929;
  box-shadow: 1px 1px 15px 10px #292929; */
  /* opacity: 0.4; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info .github {
  color: white;
  text-decoration: none;
}

.info .github:hover {
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.connect {
  /* border: 1px solid blue; */

  color: silver;
  height: 40px;
  margin-top: 15px;
  
  display: flex;
  justify-content: center;
}

.connect button {
  border-radius: 20px;
  width: 150px;
}

.connect button:hover {
  cursor: pointer;
  font-style: italic;
  width: 175px;
  padding: 20px;
  font-weight: bold;
}

.connect a {
  text-decoration: none;
}

.aboutProjects {
  /* border: 2px solid pink; */
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  
  /* padding: 0px 20px; */
  /* margin-left: 50px; */
  width: 57%;
  height: 80%;
}

#about {
  /* border: 2px solid orange; */

  /* width: 50%; */
  padding: 10px;
  padding-bottom: 30px;
  font-size: 18px;
  /* text-align: center; */
  color: white;
}

/* #about h1 {
  text-align: left;
} */

/* .aboutProjects .about {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
} */

.projects {
  /* border: 1px solid purple; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  
  /* box-sizing: border-box; */
  /* color: red; */
  width: 95%;
  height: 450px;
  margin-top: 50px;
  background-color: #E8F1F2;
  border-radius: 20px;
}

/* .projects h2 {
  border: 1px solid red;
  display: none;
} */

.thumbnailDiv {
  /* border: 2px solid green;  */
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 40px;
}

#thumbnails {
  border-radius: 20px;
  height: auto;
  width: 225px;
  margin-bottom: 16px;
  padding: 5px;

  /* float: right; */
}

#thumbnails:hover {
  border: 2px solid #128FE2;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}