* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #B8B8B8;
  /* gradient background */
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  /* border: 3px solid white; */
  background-color: #141414;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  
  width: 75%;
  height: 100vh;
  /* padding-top: 15px; */

  box-shadow: 0 25px 50px 0 #1F1F1F;
}

.navLinks {
  text-decoration: none;
  color: #128FE2;
  font-size: 22px;
  font-weight: bold;
}

.navbar {
  /* border: 2px solid black; */

  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  width: 90%;
  /* height: 30px; */
  color: white;
  font-size: 18px;
  padding: 20px;
  margin-top: 10px;
}

.aboutPic {
  border: 2px solid green;

  /* width: 750px; */
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;

  /* display: inline-block;
  position: relative; */
}

.intro {
  border: 1px solid white;

  color: white;
  font-size: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* position: absolute;
  top: 3px;
  left: 16px; */
}

.intro #lastName {
  color: red;
  font-weight: bold;
}

.intro #jobTitle {
  font-weight: 300;
}

.pic {
  width: 350px;
  height: 350px;

  opacity: 0.5;
  border-radius: 20px;
}

.about {
  border: 2px solid springgreen;

  width: 50%;
  /* margin-top: 70px;
  padding: 10px; */
  font-size: 18px;
  text-align: center;
  color: #fffd77;
}

.aboutProjects {
  border: 2px solid pink;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 60%;
  height: 800px;
  margin-top: 20px;
}

.projects {
  /* width: 500px;
  height: 800px; */

  /* padding: 15px; */
  color: red;
}